*{
	box-sizing: border-box;
}	

/* coloring items >>>>>>>>>>>>>>>> */

body {
    background-color: rgba(255,255,255,.50);
}

/* coloring items ================ */

body {
    margin: 0;
}

.top-container {
	display: flex;
	flex-direction: row-reverse;
	
}
.container-data{
	display: flex;
	flex-direction: column;
	order: 2;
}

.signupB{
	display: flex;

	order: 1;
}






.container-data div{
	display:inline-block;
	vertical-align: middle;
	}

.container.data a{
	display: inline-block;
}
.signupB button {
	background: #0077C5;
	padding-left: 30px;
	padding-right: 30px;
	bottom:17px;
	border: none;
	border-radius:8px;
	color: white;
	cursor: pointer;
	}

	.signupB:hover{
		box-shadow: 2px 2px 2px 2px black;
	}

	.signupB i{
		margin-right: 10px;
	}


.container-data button span{
	color: white;
}
 .banner img {
display: block;
margin-left: 50%;
margin-right: 50%;
} 

/* .banner a {
    background: url("https://img.icons8.com/color/48/000000/hand-with-pen.png");
} */